* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    background-color: #e6e6e6;
}

.site {
    max-width: 100em;
    height: 100vh;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 30px auto 30px;
    /*   grid-template-rows: 100px, 200px repeat(2, 200px) auto; */
    grid-template-rows: 60px auto auto auto auto auto;
    /* grid-row-gap: 10px; */
    background-color: #2EBF8B;
}

header {
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 4px 4px rgba(0, 26, 51, 0.5);
    box-sizing: border-box;
    height: 60px;
    background-color: #FFF;
    z-index: 2;
}

header .logo {
    height: 60px;
    width: 140px;
    padding: 5px 0 5px 5px;
}

header .logo a {
    display: block;
}

header h1 {
    width: 100%;
    align-self: center;
    text-align: center;
    padding-right: 140px;
    font-size: 2em;
    color: #001a33;
}

main,
#quiz {
    grid-column: 2/3;
    background-color: aliceblue;
    min-height: 400px;
    width: 100%;
    border-radius: 0 0 40px 40px;
    border-top-width: 0;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-color: lightgrey;
    border-style: solid;
    padding: 2px 50px 10px 50px;
    z-index: 1;
}

#tracker,
#quizSet,
#resultBox,
footer {
    grid-column: 2/3;
}

#tracker {
    /* position: relative;
	width: 100%;
	padding: 0 10px 0 10px; */
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
    grid-row: 2;
}

#quizSet {
    grid-row: 3;
}

#resultBox {
    grid-row: 4;
}

.nos {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #8c8c8c;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    padding: 11px;
    margin: 0px 10px 10px 10px;
    font-weight: bolder;
    font-size: 22px;
    border: 1.5px solid #8c8c8c;
}

hr {
    border: 2px solid #8c8c8c;
    position: relative;
    clear: both;
}

#question {
    position: relative;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* position: relative; */
    width: 100%;
    margin-top: 15px;
}

.options .button {
    width: 40%;
    min-height: 100px;
}

.button {
    position: relative;
    background-color: #e6f3ff;
    width: 250px;
    height: auto;
    border: 1.5px solid #FFF;
    /* border-radius: 75px; */
    margin: 10px;
}

.button span {
    display: block;
    margin: auto;
    height: 100%;
    padding: 36px 0 0 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #001a33;
    cursor: pointer;
}

.button:hover {
    background-color: #99ceff;
    cursor: pointer;
}

#submit {
    position: relative;
    display: block;
    /* float: right; */
    margin: 10px auto;
    background-color: #595959;
    color: white;
    width: 230px;
    padding: 7px;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 900;
    font-family: serif;
    /* margin: 5px 0px 25px 10px;*/
    border: 1px solid grey;
    text-align: center;
    box-shadow: 2px 2px 0px 0px rgba(191, 191, 191, 0.5);
}

#submit:hover {
    cursor: pointer;
    background-color: #808080;
}

footer {
    grid-row: 5;
    display: flex;
    justify-content: space-between;
    /*   position: relative; */
}

#progress {
    /*   position: relative;
    float: left; */
    text-align: left;
}

#timer {
    /*   position: relative;
    float: right; */
    text-align: right;
}

#progress,
#timer {
    margin-top: 20px;
    font-size: 1.8em;
    color: #000;
}

#resultBox {
    display: none;
}

#quizSet {}

#result {
    text-align: center;
    font-size: 40px;
    color: #000;
}

#retake {
    position: relative;
    display: block;
    margin: 10px auto 25px auto;
    background-color: #595959;
    color: white;
    width: 230px;
    padding: 7px;
    border-radius: 50px;
    font-size: 28px;
    font-weight: 900;
    font-family: serif;
    border: 1px solid grey;
    text-align: center;
    box-shadow: 2px 2px 0px 0px rgba(191, 191, 191, 0.5);
}

#retake:hover {
    cursor: pointer;
    background-color: #808080;
}

.button:focus,
#submit:focus,
#retake:focus {
    outline: none;
}


@media screen and (min-width: 577px) {}


/*PC 971px and higher*/

@media screen and (min-width: 971px) {}