* {
    margin: 0;
    padding: 0;
    border: 0;
}

.site {
    max-width: 50em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-template-rows: auto, repeat(3, 200px);
    grid-row-gap: 10px;
}

.image {
    grid-column: 1/4;
    grid-row: 1;
}

header,
main {
    grid-column: 2/3;
}

header {
    grid-row: 2;
}

main {
    grid-row: 3;
}

.image img {
    width: 100%;
}

.info-box,
.quiz-container {
    border: 2px solid lightgrey;
}

.info-box-buttons {
    display: flex;
    flex-direction: row;
    flex: 1fr 1fr;
}

.info-box-buttons button a {
    display: block;
    cursor: pointer;
}

.info-box-buttons button {
    background-color: white;
}

.btn-text {
    width: 100%;
    min-height: 50px;
}

.btn-speech {
    width: 100%;
    min-height: 50px;
    border-bottom: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
}

.quiz-container {
    margin-top: 30px;
}

.options {
    height: 300px;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 30% 30%;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#btn1 {
    background-color: #AF4879;
    color: #FFF;
}

#btn2 {
    background-color: #5EC8E5;
}

#btn3 {
    background-color: #FFD457;
}

#btn4 {
    background-color: #67B346;
    color: #FFF;
}

.options button {}



@supports (grid-area: auto) {

    @media screen and (min-width: 600px) {

        .site {
            max-width: none;
        }
    }
}